body {
    background-color:#1d1f20;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container{
    max-width:900px;
    width:100%;
    overflow:hidden; 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

  /* Bottom hack for IE*/
svg{
    width:100%;
    padding-bottom: 36.67%;
    height: 1px;
    overflow: visible;
}

.spider {
    
    background-image: url('../img/spider.svg');
}