

#containerSpider{
    z-index: -100;
    max-width:900px;
    width:100%;
    height: 20wh;
    overflow:hidden; 
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-right: 50em;
}

/* Bottom hack for IE*/
svg{
    width:100%;
    padding-bottom: 36.67%;
    height: 1px;
    overflow: visible;
}